<!DOCTYPE html>
<html>
  <head>
    <title>Dorello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Dorello"/>
    <meta property="og:image" content="<%= image_url("dorello_pic.png")%>">
    <meta property="og:description"
        content="A project management web application where a team of people can organize the workflow of a project"
    >
    <meta property="og:url"
        content="https://dorellokp.herokuapp.com/#/"
    >


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
  </head>
    
    <script text="text/javascript">window.homepage_splash="<%=image_url("hero-a.svg")%>"</script>  
    <script text="text/javascript">window.logo="<%=image_url("trello-mark-white.svg")%>"</script>  
    <script text="text/javascript">window.homepage_img1="<%=image_url("homepage_trello_img1.png")%>"</script>  
    <script text="text/javascript">window.homepage_img2="<%=image_url("homepage_trello_img2.png")%>"</script>  
    <script text="text/javascript">window.homepage_linkedin="<%=image_url("homepage_linkedin.png")%>"</script>  
    <script text="text/javascript">window.homepage_github="<%=image_url("homepage_github.png")%>"</script>  
    <script text="text/javascript">window.homepage_angelist="<%=image_url("homepage_angelist.png")%>"</script>  
    <script text="text/javascript">window.homepage_portfolio="<%=image_url("homepage_portfolio.png")%>"</script>  

  <body>
    <%= yield %>
  </body>
</html>
